* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;

  display: grid;
  place-items: center;
}
.form {
  width: 300px;
  height: 600px;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border: 1px solid #0061ff;
  border-radius: 12px;
}

.header {
  color: #0061ff;

  display: flex;
  justify-content: center;

  margin-bottom: 8px;
}

.form .container {
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tag {
  display: flex;
  flex-direction: column;

  position: relative;
}

.tag > span {
  position: absolute;
  top: 12px;
  left: 8px;

  color: #dadce0;

  transition: 0.5s;

  z-index: 0;
}

.tag > input {
  background-color: transparent;
  border: 2px solid #dadce0;
  border-radius: 8px;
  outline: none;

  font-size: 14px;

  height: 40px;

  padding: 0 8px;

  z-index: 1;
}
input:focus {
  border: 2px solid #0061ff;
}
input:focus + span {
  color: #0061ff;
}
input:focus + span,
input:not(:placeholder-shown) + span {
  background-color: white;

  top: -9px;
  left: 4px;

  z-index: 2;
}

.genero {
  display: flex;
  justify-content: space-evenly;
}

.buttom-container {
  display: flex;
  flex-direction: column;
}
.terminos {
  text-align: center;

  margin-bottom: 5px;
}
.terminos a {
  text-decoration: none;
  color: black;
}
.terminos a:hover {
  text-decoration: underline;
  color: #0061ff;
}
.buttom-container > a {
  align-self: center;

  text-decoration: none;
  color: #0061ff;
}

.buttom[type="submit"] {
  height: 42px;

  margin-bottom: 5px;

  border: none;
  border-radius: 12px;
  outline: none;

  font-size: 20px;
  font-family: "Arial";
  font-weight: bold;
  color: white;

  background-color: #0061ff;

  cursor: pointer;
}

.buttom[type="submit"]:hover {
  transform: translateY(-3px);

  background-color: #0062ff6c;
}
.footer {
  text-align: center;
  border-top: 1px solid black;
  
  padding-top: 5px;
  margin-top: 10px;
}
.footer p {
  margin-bottom: 5px;
}
.container-redes {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-redes a {
  display: flex;
  align-items: center;

  height: 100%;
}
.container-redes img {
  height: 90%;
}
.container-redes a:hover {
  transform: translateY(-3px);
}

::placeholder {
  color: transparent;
}
