* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body {
    background: url(https://images.pexels.com/photos/46160/field-clouds-sky-earth-46160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) 100% 50% no-repeat;
    height: 100vh;
} */


.main {
    width: 100%;
    height: 100vh;
    
    display: grid;
    place-items: center;
    
  }
  .form {
    width: 300px;
    height: 470px;
    padding: 20px;
        
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    border: 1px solid;
    border-radius: 12px;
    
    box-shadow: 1px 1px 10px 2px black;
    
    /* background: url(https://images.pexels.com/photos/1756325/pexels-photo-1756325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); */
    /* background-size: 100% 100%; */
    
  }
  .form .container {
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tag {
    display: flex;
    flex-direction: column;

    position: relative;
  }
  
  .tag > span {
    position: absolute;
    top: 12px;
    left: 8px;

    color: #DADCE0;

    transition: 0.5s;

    z-index: 0;
  }

  .tag > input {
    background-color: transparent;
    border: 2px solid #DADCE0;
    border-radius: 8px;

    height: 40px;

    padding: 0 8px;

    z-index: 1;
  }
  input:focus {
    border: 2px solid #0061ff;
  }
  input:focus + span {
      color: #0061ff;

      background-color: white;

      top: -8px;
      left: 4px;

      z-index: 2;
  }
  
  .buttom[type=submit] {
    height: 42px;
    
    border: none;
    border-radius: 12px;
    
    font-size: 20px;
    font-family: "Arial";
    font-weight: bold;
    color: white;
    
    background-color: #0061ff;
  }
  
  .buttom[type=submit][type=submit]:hover {
    transform: translateY(-2px);
    
    background-color: #0062ff6c;
  }

::placeholder {
    color: transparent;
}