* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 89, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.description {
    padding: 20px;

    text-align: center;
}
.title {
    color: #eaebed;

    font-size: 60px;
    text-align: center;
}
.footer {
    width: 100%;
    height: 10%;
}
.footer__refe {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}
.footer__refe a {
    text-decoration: none;
    color: #eaebed;

    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__refe a:hover {
    text-decoration: underline;
}
.icon {
    height: 50%;
    margin-left: 5px;
}